/* Default */
table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
.Nd, .Bf, .Op { display: inline; }
.Pa, .Ad { font-style: italic; }
.Ms { font-weight: bold; }
.Bl-diag > dt { font-weight: bold; }
code.Nm, .Fl, .Cm, .Ic, code.In, .Fd, .Fn, .Cd { font-weight: bold;
  font-family: inherit; }

/* Custom */
body {
  font-family: sans-serif;
}

main, .head, .manual-text, .foot {
  max-width: 80ch;
  margin: 0 auto;
}

li, dd {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

.whatis {
  list-style: none;
  padding: 0;
}

/** Colors */

body {
  color: black;
  background-color: white;
}

a {
  color: #3c3d3f;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #27344a;
  }

  a {
    color: #bed0e1;
  }
}
